<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyAura Builds</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="site-main">
        <div class="site-nav">
            <%- include('./includes/nav') %>    
        </div>
    <div class="main-content">
        <div class="box">
            <h1>SkyAura Builds</h1>

            <div class="button-options">
                <a href="/downloads/builds/release"><button class="download-button" style="background-color: green;">Download Release</button></a>
                <br>
                <a href="/downloads/builds/prerelease"><button class="download-button" style="background-color: orange;">Download Pre-Release</button></a>

                <h2>Release VS Pre-Release Builds</h2>
                <h3 style="color: green;">Release</h3>
                <p>Release is the current mainstream version of SkyAura that everyone is using.</p>
                <h2 style="color: orange;">Pre-Release</h2>
                <p>Pre-Release builds are just that, Pre-release! these are builds that have new features that might not be fully tested.</p>
                <p>These builds should not be used for primary use as they get updated very rapidly and might break things from the Release build.</p>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>