<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Collabrative VR platform">
    <meta name="keywords" content="VR, Collaboration, SkyAura, Game Engine">
    <meta name="author" content="SkyAura Studios">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>SkyAura - Home</title>
</head>
<body>
    <div class="site-main">
        <div class="site-nav">
            <%- include('includes/navbar') %>
        </div>
        <div class="site-content">
            <div class="home-box" style="text-align: center;">
                <h1>Welcome to SkyAura</h1>
                <p>SkyAura is a Collaborative VR platform designed for seamless collaboration in virtual environments.</p>
                <p>SkyAura uses a custom C# game engine for it's backend and uses Unity 6 for the frontend.</p>
            </div>
            <%- include('includes/footer') %>
    </div>
    </div>
</body>
</html>