<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyAura</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="site-main">
        <div class="site-nav">
            <%- include('./includes/nav') %>
        </div>
        <div class="main-content">
            <div class="home-box">
                <h1>SkyAura</h1>
                <br>
                <h2>SkyAura is aims to be a collabrative VR platform where users can connect and create Avatars, Props, Worlds, and more! all in platform</h2>
                <br>
                <h2>SkyAura uses a custom engine that utilizes OpenTK, OpenXR, and other rescources</h2>
                <br>
                <h3>SkyAura is currently under heavy development but we still publish builds along the way in our <a href="https://discord.gg/5RFAMBg9sZ">Discord!</a></h3>
                <br>
                
            </div>

            

        </div>
    </div>
</body>
</html>