@font-face {
    font-family: 'Barlow';
    src: url('/font/Barlow-Regular.ttf');
}

body{
    background-color: rgba(26, 26, 26, 0.95);
    font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, li, span, div{
    color: #f0f0f0;
}

.site-nav{
    background-color: #1a1a1a;
    border-bottom: 2px solid #333333;
    height: 75px;
    padding: 0%;
}
.site-nav a{
    vertical-align: middle;
    text-decoration: none;
    height: 100%;
    justify-content: space-around;
}

.site-nav a:hover{
    vertical-align: middle;
    text-decoration: none;
    background-color: black;
    height: 100%;
}

.home-box{
    background-color: #000000;
    border: 2px solid #444444;
    padding: 20px;
    margin: 20px;
}